# Node modules
node_modules/


.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.yarn


# OS files
.DS_Store
Thumbs.db

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by tools like istanbul
coverage/

# Build output
dist/
build/
out/

# Optional npm cache directory
.npm

# Debug folder for VSCode
.vscode/

# Other editor folders
.idea/
*.sublime-workspace
*.sublime-project

# Optional REPL history
.node_repl_history

# Miscellaneous
*.tgz
*.swp
*.swo
.env
server_info.txt
